<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pdftron.pdftronflutter">

    <application>

        <!-- Document viewer activity declaration-->
        <activity
            android:name=".FlutterDocumentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:theme="@style/PDFTronAppTheme"
            android:windowSoftInputMode="adjustPan" />

    </application>

</manifest>
